/* 公共样式 */
.wrap{
    padding: 0px;
    font-size: 14px;
}
/* 标题 */
.title-wrap .title-content{
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.title-wrap .title{
    font-size: 22px;
    color: #666600;
}
/* 参数 */
.param-wrap{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.param-wrap label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.param-wrap input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: auto;
}
/* 表格 */
.table-wrap{
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}
/* 表头 */
.table-wrap th{
    background-color:#e6EEEE;
    font-size:8pt;
    padding: 4px;
    border:1px solid #FFF;
    color: #000;
}
/* 自定义表格样式 */
.custom{
    padding-left: 15px;
    padding-right: 15px;
}
.custom table{
    white-space: nowrap; /* 不换行 */
}
.custom .table-tip{
    color: red;
}

/* 分页 */
.pagination-wrap{
    margin-top: 15px;
    text-align: center;
    height: 80px;
}

/* 条件 */
.condition-wrap{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.condition-wrap .condition-item{
    width: 20%;
}
.condition-wrap .condition-item a{
    color: #428bca;
    text-decoration: none;
}
.condition-wrap .condition-item .condition-label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.condition-wrap .condition-select{
    display: inline-block;
    vertical-align: middle;
    color: #555;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
}
.condition-wrap .condition-result{
    padding-left: 20px;
}

/* 类型 */
.type-wrap{
    padding-left: 15px;
    padding-right: 15px;
}
.type-wrap .type-radio{
    font-weight: 400;
    vertical-align:middle;
    cursor:point;
    margin-bottom:0;
}